.thead {
  background-color: aqua;
}
.th {
  color: white;
}
.trtr {
  background-color: aliceblue;
}
.transactionHistory {
  margin: 0 auto;
}
.trtrtr {
  background-color: rgb(68, 68, 68);
  color: white;
}
